@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* font-family: 'Noto Sans KR', sans-serif; */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.6;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

hr,
legend {
    display: none;
    height: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #4c4c4c;
}

caption {
    font-size: 0;
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

label,
input,
select,
button {
    vertical-align: middle
}

img {
    width: 100%;
    vertical-align: top;
    border: 0;
}

em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}