﻿body {min-width: 1300px;}
#root {display: flex;flex-flow: column;min-height: 100vh;background: url(/static/media/home_bg.12c22c28.png) top center no-repeat;background-color: #f8f8f8;}
.clear_both:after {content:"";display:block;clear:both;}

.wrap-lolshop {}

.wrap-lolshop__pc_img {display: block !important;}
.wrap-lolshop__mo_img {display: none !important;}

.conts-wrap {}

/* 공통 네비 */
.default_top_nav{position: relative;background-color:#000;width:100%;height:120px;}
.default_top_nav .nav_logo_wrap{height:120px;}
.default_top_nav .default_nav_logo{display:inline-block;margin:41px 0 0 46px;}
.default_top_nav .default_menu_wrap{position:absolute;top:0;left:203px;display:table;max-width:100%;height:120px;text-align:center;letter-spacing:-1px;font-size: 0;}
.default_top_nav .default_menu_wrap .default_menu_link{margin:0 40px;}
.default_top_nav .default_menu_wrap .default_menu_link:first-child{margin-left:0;}
.default_top_nav .default_menu_wrap .default_menu_link:last-child{margin-right:0;}
.default_top_nav .default_menu_link{display:inline-block;line-height:118px;padding:2px 0;color:#fff;font-weight:800;font-size: 16px;}
.default_top_nav .default_menu_link:hover,
.default_top_nav .default_menu_link.on {color:#d13639;}
.default_top_nav .default_lang_wrap {position:absolute;top:0;bottom:0;right:0;padding:0 30px 0 0;height:120px;font-size: 0;display:flex;align-items: center;text-align: center;}
.default_top_nav .default_lang_wrap .default_menu_btn {color: #fff;font-weight: 800;font-style: normal;font-size: 18px;position: relative;background:#0bc4e2;border-radius:6px;padding:20px;display:flex;align-items: center;text-align: center;}

.col-wrap{position: relative;min-height: calc(100vh - 430px);display: flex;flex-flow: column;text-align: center;align-items: center;justify-content: center;}
.col-wrap .inner {max-width: 1500px;margin: 0 auto;padding: 55px 0;}

/* 공통 푸터 */
.riotbar-footer-content{padding:0;}
.riotbar-footer-content.default-background{display:flex;flex-flow:row wrap;border:0 none;}
.riotbar-footer-riot-logo{order:1;flex:1 50%;max-width:242px;min-height:152px;text-align: center;position: relative;}
.riotbar-footer-riot-logo a{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.riotbar-copyright{text-align: left;font-size:14px;order:2;flex:1 50%;max-width:100%;margin:0;padding-top:50px;}
.riotbar-copyright.riotbar-copyright-type-02{order:3;flex:1 50%;margin:0 0 0 46px;padding:34px 0 56px 0;border-top:1px solid #2b2b2b;}
.riotbar-social-links{display:flex;justify-content:flex-end;margin:0 48px 0 0;flex:1 0 0;order:4;padding:39px 0 55px 0;border-top:1px solid #2b2b2b;}
.riotbar-social-links ul li a.link-social svg{width:30px;height:30px;}

/* 공통 타이틀 및 텍스트 영역 */
.col-cont-tit-box{text-align:center;margin-bottom:60px;}
.col-cont-tit{font-size:36px;font-weight:800;color:#000;margin-bottom:10px;letter-spacing: -0.015em;}
.col-cont-tit.type-name{color:rgb(0,0,0,0.4);}
.col-cont-tit.type-name.on{color:#000;}
.col-cont-tit.type-small{font-size:20px;}
.col-cont-txt{font-size:14px;font-family: 'RixSGoB', sans-serif;line-height:20px;color:#838383;margin-bottom:20px;letter-spacing: -0.045em;}

/* 3-Categorize transaction 인증리스트 */
.col-cont-item-list-box{display:flex;justify-content: center;margin-bottom:60px;}
.col-cont-item-list-box li{text-align:center;width:265px;min-height:320px;background:#fff;border-radius:6px;margin-left:20px;}
.col-cont-item-list-box li:first-child{margin-left:0;}
.col-cont-item-list-box li a{display:block;height:100%;padding:15px 0 0 0;}
.col-cont-item-list-box li i{display:inline-block;min-width:125px;min-height:125px;margin-bottom:20px;}
.col-cont-item-list-box li p em{font-size:20px;color:#141414;}
.col-cont-item-list-box li p{font-size:14px;line-height:24px;color:#838383;font-family: 'RixSGoB', sans-serif;margin-bottom:20px;}

/* 공통버튼 */
.col-cont-btn-box{text-align: center;}
.col-cont-btn{display:inline-block;background:transparent;border:2px solid #b0b0b0;box-sizing: border-box;border-radius: 4px;color:#575757;padding:15px 20px;cursor: pointer;min-width:115px;}
.col-cont-btn.type-02{background:#d03739;border:2px solid #d03739;color:#fff;opacity:0.5;min-width:155px;}
.col-cont-btn.type-02.on{opacity:1;} 
.col-cont-btn-box.col-cont-btn-box-column{display: flex;justify-content: center;align-items: center;flex-flow: column;}
.col-cont-btn-box.col-cont-btn-box-column > .col-cont-btn:last-child{margin-top:10px;}

/* 05-List 본인인증 부분 */
.col-cont-certify-box{display:flex;justify-content: space-around;align-items: center;margin-bottom:60px;}
.col-cont-certify-box .col-cont-tit{font-size:20px;margin:0;}
.col-cont-certify-box .col-cont-txt{margin:0;}
.col-cont-certify-box .col-cont-btn.type-02{min-width:115px;}

/* 05-List 테이블 부분 */
.col-cont-table-box{text-align:center;font-family: 'RixSGoB', sans-serif;}
.col-cont-table-box table{border-spacing:0;border-collapse: collapse;}
.col-cont-table-box .col-cont-tit{font-size:20px;}
.col-cont-table-box thead th{border-left:2px solid transparent; width:14%;vertical-align: middle;}
.col-cont-table-box thead th:first-child{border:0 none;}
.col-cont-table-box thead th .cont-table-txt-wrap{background:#b0b0b0;}
.col-cont-table-box tbody td{vertical-align: middle;color:#575757;border-left:2px solid transparent;border-top:2px solid transparent;}
.col-cont-table-box tbody td:first-child{border-left:0 none;border-top:2px solid transparent;}
.col-cont-table-box tbody td .cont-table-txt-wrap{border:1px solid #b0b0b0;box-sizing: border-box;}
.col-cont-table-box .cont-table-icon-hover{cursor: pointer;}
.col-cont-table-box .cont-table-icon-hover:hover svg rect{fill: #6d6d6d;}
.col-cont-table-box .cont-table-icon-hover .tooltip_hover{display:none;}
.col-cont-table-box .cont-table-icon-hover:hover .tooltip_hover{display:block;position: absolute;top:-50%;left:50%;padding:10px 15px;border-radius:4px;border:1px solid rgba(109, 109, 109, 0.8);color:#6d6d6d;font-size:14px;transform: translate(-50%,-120%);min-width:315px;z-index:5;cursor: initial;background:#f0f0f0;}
.col-cont-table-box .cont-table-icon-hover:hover .tooltip_hover:after{display:block;content:"";position: absolute;bottom:-7px;left:50%;border-width:1px;border-style: solid; border-color: transparent  rgba(109, 109, 109) rgba(109, 109, 109) transparent;transform: rotate(-315deg);width:10px;height:10px;margin-left:-5px;background:#f0f0f0;}
.col-cont-table-box i{vertical-align: middle;position: relative;top:2px;}
.col-cont-table-box div{position:relative;height:35px;line-height:35px;}
.col-cont-table-box tbody td:last-child .cont-table-txt-wrap{border:0 none;}
.col-cont-table-box .col-cont-btn{border:0 none;padding:0;vertical-align: top;line-height:35px;width:100%;border-radius: 0;min-width:115px;}

/* 08-기타미납 개인정보수집동의 */
.col-cont-agree-box{background:#fff;max-width:1000px;margin:0 auto 50px;font-size:16px;text-align:left;padding:45px 40px;font-family: 'RixSGoB', sans-serif;    box-sizing: border-box;}
.col-cont-agree-box .col-cont-agree-tit{color:#403f3f;}
.col-cont-agree-box .col-cont-agree-txt{color:#838383;margin-top:25px;letter-spacing: -0.045em;}
.col-cont-agree-box .col-cont-agree-txt ul li{text-indent:13px;}
.col-cont-agree-box .col-cont-table-box{width:50%;margin-top:25px;}
.col-cont-agree-box .col-cont-table-box td:last-child .cont-table-txt-wrap{border:1px solid #b0b0b0;box-sizing: border-box;}

.col-cont-agree-box.type-02{background:transparent;}
.col-cont-agree-box.type-02 .col-cont-agree-tit strong{font-size:24px;font-weight:bold;}
.col-cont-agree-box.type-02 .col-cont-agree-tit em{font-size:18px;}
.col-cont-agree-box.type-02 .col-cont-agree-tit span{display:block;text-align:center;font-size:24px;font-weight:bold;}
.col-cont-agree-box.type-02 .col-cont-agree-txt{margin-bottom:25px;}

.col-cont-agree-box .input_t{position:relative;}
.col-cont-agree-box .input_t label{display: block;}
.col-cont-agree-box .input_t input[type="text"],
.col-cont-agree-box .input_t input[type="number"]{position:relative;border: 2px solid rgba(122, 122, 122, 0.2);box-sizing: border-box;border-radius: 4px;width: 360px;height: 75px;padding: 0 15px;font-size: 20px;}
.col-cont-agree-box .input_t input[type="text"]::placeholder,
.col-cont-agree-box .input_t input[type="number"]::placeholder{font-size: 12px;color: #999;position: relative;top:-20px;}
.col-cont-agree-box .input_t.type-02 input{background: rgba(219, 219, 219, 0.7);}
.col-cont-agree-box .input_t.type-02 input::placeholder{top:0;}